<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生管理系统 - 添加学生</title>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        header {
            background-color: #eee;
            height: 6rem;
        }

        header h1 {
            font-size: 2.2rem;
        }

        .form-horizontal {
            margin-top: 15px;
        }

        .form-horizontal .control-label {
            text-align: left;
        }
    </style>
</head>

<body>
    <!-- 导航条 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a href="#" class="navbar-brand">学生信息管理系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">首页</a></li>
                    <li class="active"><a href="#">学生管理</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 标题 -->
    <header>
        <div class="container">
            <h1>添加学生信息</h1>
        </div>
    </header>
    <!-- 表单 -->
    <div class="container">
        <form class="form-horizontal" action="/api/student/add" method="post">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名：</label>
                <div class="col-sm-2">
                    <input id="name" type="text" name="name" class="form-control" placeholder="请输入姓名" required pattern="^[\u4e00-\u9fa5]{2,4}$">
                </div>
            </div>
            <div class="form-group">
                <label for="male" class="col-sm-2 control-label">性别：</label>
                <div class="col-sm-3">
                    <label class="radio-inline">
                        <input type="radio" name="isMale" id="male" value="true" checked>男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isMale" id="female" value="flase">女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">年龄：</label>
                <div class="col-sm-1">
                    <select name="age" id="age" class="form-control">
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">手机号：</label>
                <div class="col-sm-2">
                    <input type="tel" id="phone" name="phone" class="form-control" required placeholder="请输入手机号" pattern="^[1][3-8]\d{9}$">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">电子邮箱：</label>
                <div class="col-sm-3">
                    <input type="email" id="email" name="email" class="form-control" required placeholder="请输入电子邮箱" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-7">
                    <textarea placeholder="请填写学生的其它信息" class="form-control" name="description" id="description" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label"></label>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary btn-block" value="提交">
                </div>
            </div>
        </form>
    </div>
    <script src="../libs/jquery.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/add.js"></script>
</body>

</html>